# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Aron Suliman (AronAtDell)
# Christian Coffield (ChristianAtDell)
# Don Khan (donatwork)
# Meghana GM (meggm)
# Sean Gallacher (gallacher)
# Alexander Hoppe (hoppea2)
# Harish Prabhakara (harishp8889)
# Matt Schmaelzle (mjsdell)
# Prasanna Muthukumaraswamy (prablr79)
# Sharmila Ramamoorthy (sharmilarama)
# Shayna Finocchiaro (shaynafinocchiaro)


# for all files:
* @AronAtDell @ChristianAtDell @donatwork @meggm @gallacher @hoppea2 @harishp8889 @mjsdell @prablr79 @sharmilarama @shaynafinocchiaro
