# Copyright (c) 2025 Dell Inc., or its subsidiaries. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0

# This workflow is used to create Github Tag and Release
name: Create Tag and Release
# Invocable as a reusable workflow
on:
  workflow_call:
    inputs:
      option:
        description: "Type of release. Ex: major, minor, patch, or version."
        type: string
        required: true
      version:
        description: "Specific semver version to release. Only used when 'version' is the selected option. Ex: v2.1.0."
        type: string
        required: false

jobs:
  process-inputs:
    name: Process Inputs
    uses: CSM/actions/.github/workflows/process-inputs.yaml@main
    with:
      option: ${{ inputs.option }}
      version: ${{ inputs.version }}
    secrets: inherit

  build-and-scan:
    name: Build and Scan
    needs: [process-inputs]
    outputs:
      processedVersion: ${{ needs.process-inputs.outputs.processedVersion }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: Install dependencies
        run: go mod tidy

      - name: Build binaries
        run: |
          echo "Building binaries to attach to the release if any..."
          if [ "${GITHUB_REPOSITORY}" == "cert-csi" ]; then
            make build
            mv cert-csi cert-csi-linux-amd64
            echo "BIN_NAME=cert-csi-linux-amd64" >> $GITHUB_ENV
          fi
          if [ "${GITHUB_REPOSITORY}" == "csm-replication" ]; then
            cd repctl
            make build
            mv repctl repctl-linux-amd64
            mv repctl-linux-amd64 ../
            echo "BIN_NAME=repctl-linux-amd64" >> $GITHUB_ENV
          fi

      - name: Upload Binaries
        if: ${{ env.BIN_NAME != '' }}
        uses: actions/upload-artifact@v4.6.1
        env:
          BIN_NAME: ${{ env.BIN_NAME }}
        with:
          name: ${{ env.BIN_NAME }}
          path: ${{ env.BIN_NAME }}

  release-and-tag:
    name: Tag and Release
    needs: [build-and-scan]
    uses: dell/common-github-actions/.github/workflows/release-creator.yaml@main
    with:
      version: ${{ needs.build-and-scan.outputs.processedVersion }}
    secrets: inherit
