# Copyright (c) 2025 Dell Inc., or its subsidiaries. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0

# Reusable workflow to perform update of CSM Versions.
name: CSM Versions Update

# Invocable as a reusable workflow
on:
  workflow_call:

jobs:
  csm-versions-update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Get CSM Versions from dell/csm
        id: vars
        run: |
          curl -s https://raw.githubusercontent.com/dell/csm/refs/heads/main/config/csm-versions.yaml > versions-content.txt

      - name: CSM docs versions update
        if: ${{ github.repository == 'dell/csm-docs' }}
        run: |
          curl -sfL https://raw.githubusercontent.com/dell/common-github-actions/main/.github/scripts/update_csm_docs_versions.sh -o update_csm_docs_versions.sh
          chmod +x update_csm_docs_versions.sh
          bash update_csm_docs_versions.sh

      - name: Remove Remaining Files
        run: |
          rm versions-content.txt
          rm update_csm_docs_versions.sh

      # Needed for signing commits using Github App tokens
      # See: https://github.com/peter-evans/create-pull-request/blob/main/docs/concepts-guidelines.md#commit-signing
      - name: Generate GitHub App Token
        uses: actions/create-github-app-token@v2.1.4
        id: generate-token
        with:
          app-id: ${{ vars.CSM_RELEASE_APP_ID }}
          private-key: ${{ secrets.CSM_RELEASE_APP_PRIVATE_KEY }}

      # Must enable "allow GitHub Actions to create pull requests" setting
      # Author defaults to the user who triggered the workflow run
      - name: Create pull request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ steps.generate-token.outputs.token }}
          branch: "update-csm-versions-to-latest"
          commit-message: "Update CSM versions to latest"
          title: "Update CSM versions to latest"
          body: |
            Automated update all CSI Sidecars and Third Party Libraries to their latest version.

            Auto-generated by [common-github-actions](https://github.com/dell/common-github-actions)
          sign-commits: true
          delete-branch: true
