# Copyright (c) 2024 Dell Inc., or its subsidiaries. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0

# This workflow is used to release libraries like gobrick, gofsutil etc.
name: Release Go Client Libraries

# Invocable as a reusable workflow
on:
  workflow_call:
    inputs:
      option:
        description: "Type of release. Ex: major, minor, patch, or version."
        type: string
        required: true
      version:
        description: "Specific semver version to release. Only used when 'version' is the selected option. Ex: v2.1.0."
        type: string
        required: false
jobs:
  process-inputs:
    name: Process Inputs
    uses: dell/common-github-actions/.github/workflows/process-inputs.yaml@main
    with:
      option: ${{ inputs.option }}
      version: ${{ inputs.version }}
    secrets: inherit

  build-and-scan:
    name: Build and Scan
    needs: [process-inputs]
    outputs:
      processedVersion: ${{ needs.process-inputs.outputs.processedVersion }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0 # Fetch the full history including tags
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"
      - name: Install dependencies
        run: go mod tidy
      - name: Build
        run: go build -v ./...
      - name: Run malware scan
        uses: dell/common-github-actions/malware-scanner@main
        with:
          directories: .
          options: -ri

  release-and-tag:
    name: Tag and Release
    needs: [build-and-scan]
    uses: dell/common-github-actions/.github/workflows/release-creator.yaml@main
    with:
      version: ${{ needs.build-and-scan.outputs.processedVersion }}
    secrets: inherit
