# Copyright (c) 2024 Dell Inc., or its subsidiaries. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0

# Reusable workflow to run multiple workflow checks on Golang based projects
name: Common Workflows

on:
  workflow_call:

# Set defaults
env:
  # unit test action
  CODE_COVERAGE_TARGET: ${{ vars.CODE_COVERAGE_TARGET || 90 }}
  SKIP_LIST: ${{ vars.PACKAGE_SKIP_LIST || '' }}
  RACE_DETECTOR: ${{ vars.RACE_DETECTOR || true }}
  SKIP_TEST: ${{ vars.SKIP_TEST || '' }}
  RUN_TEST: ${{ vars.RUN_TEST || '' }}

  # gosec action
  GOSEC_EXCLUDES: ${{ vars.GOSEC_EXCLUDES || '' }}
  GOSEC_EXCLUDE_DIR: ${{ vars.GOSEC_EXCLUDE_DIR || '' }}

jobs:
  # Run unit tests
  gocoverage:
    name: Unit tests and package coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run unit tests and check package coverage
        uses: dell/common-github-actions/go-code-tester@main
        with:
          threshold: ${{ env.CODE_COVERAGE_TARGET }}
          test-folder: ${{ vars.CODE_COVERAGE_DIR }}
          skip-list: ${{ env.SKIP_LIST }}
          race-detector: ${{ env.RACE_DETECTOR }}
          skip-test: ${{ env.SKIP_TEST }}
          run-test: ${{ env.RUN_TEST }}

  # Check sources for security vulnerabilities
  security:
    name: GoSec
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: gosec
        uses: dell/common-github-actions/gosec-runner@main
        with:
          excludes: ${{ vars.GOSEC_EXCLUDES }}
          exclude-dir: ${{ vars.GOSEC_EXCLUDE_DIR }}

  # Check sources for formatting and vetting
  formatter_vetter:
    name: Go Formatter and Vetter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: gofmt and go vet
        uses: dell/common-github-actions/go-code-formatter-vetter@main

  # Check sources files for malware
  malware_security_scan:
    name: Malware Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
      - name: Run malware scan
        uses: dell/common-github-actions/malware-scanner@main
        with:
          directories: .
          options: -ri
