
# Copyright (c) 2024 Dell Inc., or its subsidiaries. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0

# Reusable workflow to perform staic analysis on Golang based projects
name: Golang Static Analysis

# Invocable as a reusable workflow
on:
  workflow_call:

# environment variables common across all jobs
env:
  WF_ORG: dell
  WF_REPO: common-github-actions
  WF_CONFIGS: .github/configs

# Various jobs
jobs:

  # Check sources files for formatting, linting, and vetting issues.
  code-check:
    name: Check Go formatting, linting, vetting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
      - name: Run the formatter, linter, and vetter
        uses: dell/common-github-actions/go-code-formatter-linter-vetter@main
        with:
          directories: ./...

  # Inspects source code for security problems by scanning the Go AST and SSA code representation.
  go_security_scan:
    name: Go security
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
      - name: Run Go Security
        uses: securego/gosec@master
        with:
          args: -exclude-dir=tests -exclude=G101 ./...

  # Check sources files for malware
  malware_security_scan:
    name: Malware Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
      - name: Run malware scan
        uses: dell/common-github-actions/malware-scanner@main
        with:
          directories: .
          options: -ri

  # Check yaml for syntax validity, line length, trailing spaces, indentation, etc.
  yaml_lint_scan:
    name: Yaml Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install yamllint
        run: |
          pip install yamllint
      - name: Grab yamllint config file
        run: |
          echo "Grabbing Yaml config file from: https://raw.githubusercontent.com/$WF_ORG/$WF_REPO/main/$WF_CONFIGS/yamllint/yamllint.yaml"
          curl -O -f https://raw.githubusercontent.com/$WF_ORG/$WF_REPO/main/$WF_CONFIGS/yamllint/yamllint.yaml
      - name: Run yamllint
        run: |
          if [ -f yamllint.yaml ] then
            yamllint -c yamllint.yaml .
          else
            echo "No Yamllint config file found, running with defaults"
            yamllint .
          fi
