# Copyright (c) 2025 Dell Inc., or its subsidiaries. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0

# Reusable workflow to perform sidecar version update
# To perform sidecar version update, needs eight arguments as input to the workflow
name: Sidecar version update

on:
  workflow_call:
    inputs:
      attacher:
        description: 'csi-attacher version, ex: v4.8.0'
        required: true
        type: string
      provisioner:
        description: 'csi-provisioner version, ex: v5.1.0'
        required: true
        type: string
      snapshotter:
        description: 'csi-snapshotter version, ex: v8.2.0'
        required: true
        type: string
      resizer:
        description: 'csi-resizer version, ex: v1.13.1'
        required: true
        type: string
      registrar:
        description: 'csi-node-driver-registrar version, ex: v2.13.0'
        required: true
        type: string
      health-monitor:
        description: 'csi-external-health-monitor-controller version, ex: v0.14.0'
        required: true
        type: string
      metadata-retriever:
        description: 'csi-metadata-retriever version, ex: v1.8.0'
        required: true
        type: string
      sdcmonitor:
        description: 'sdc version, ex: 4.5.1'
        required: true
        type: string
jobs:
  operator-version-update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Update sidecar version
        run: |
          echo "Updating SIDECAR's version"
         
          if [ -f "$GITHUB_WORKSPACE/.github/scripts/sidecar-version-update.sh" ]; then
          bash $GITHUB_WORKSPACE/.github/scripts/sidecar-version-update.sh ${{ inputs.attacher }} ${{ inputs.snapshotter }} ${{ inputs.provisioner }} ${{ inputs.registrar }} ${{ inputs.health-monitor }} ${{ inputs.metadata-retriever }} ${{ inputs.resizer }} ${{ inputs.sdcmonitor }}
          fi

      # Needed for signing commits using Github App tokens
      # See: https://github.com/peter-evans/create-pull-request/blob/main/docs/concepts-guidelines.md#commit-signing
      - name: Generate GitHub App Token
        uses: actions/create-github-app-token@v2.1.4
        id: generate-token
        with:
          app-id: ${{ vars.CSM_RELEASE_APP_ID }}
          private-key: ${{ secrets.CSM_RELEASE_APP_PRIVATE_KEY }}

      # Must enable "allow GitHub Actions to create pull requests" setting
      # Author defaults to the user who triggered the workflow run
      - name: Create pull request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ steps.generate-token.outputs.token }}
          branch: "sidecar-version-update"
          commit-message: "Update sidecar version to latest available"
          title: "Update sidecar version to latest available"
          body: |
            sidecar versions updated to latest available :
            attacher --> ${{ inputs.attacher }}
            provisioner --> ${{ inputs.provisioner }}
            snapshotter --> ${{ inputs.snapshotter }}
            registrar --> ${{ inputs.registrar }}
            resizer --> ${{ inputs.resizer }}
            external-health-monitor --> ${{ inputs.health-monitor }}
            metadata-retriever --> ${{ inputs.metadata-retriever }}
            sdcmonitor --> ${{ inputs.sdcmonitor }}
          
            Auto-generated by [common-github-actions](https://github.com/dell/common-github-actions)
          sign-commits: true
          delete-branch: true
