# Copyright (c) 2024 Dell Inc., or its subsidiaries. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0

# Trigger workflow for go version update on CSM projects
name: Trigger Go Version Workflow

on:
  schedule:
    # Runs on the 12th hour on the first day of every month.
    - cron: '0 12 1 * *'
  # Can be manually triggered
  workflow_dispatch:

jobs:
  trigger:
    name: Trigger Image Version Update
    runs-on: ubuntu-latest

    strategy:
      matrix:
        repo:
          [
            "ashleyvjoy/test-image-update-csi-powerscale",
          ]

    steps:
      - name: Trigger Image Version Update
        uses: peter-evans/repository-dispatch@v3
        with:
          # For token information, see: https://github.com/peter-evans/repository-dispatch/tree/main?tab=readme-ov-file#token
          token: ${{ secrets.CSMBOT_PAT }}
          repository: ${{ matrix.repo }}
          event-type: image-update-workflow
          client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'
