# Copyright (c) 2025 Dell Inc., or its subsidiaries. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0

# Trigger workflow for go version update on CSM projects
name: Trigger Image Version Workflow

on:
  workflow_dispatch:

jobs:
  trigger:
    name: Trigger Image Version Update
    runs-on: ubuntu-latest

    strategy:
      matrix:
        repo:
          [
            dell/csi-powerscale
            dell/csi-powermax
            dell/csi-powerflex
            dell/csi-powerstore
            dell/csi-unity
            dell/csm-metrics-powermax
            dell/csm-metrics-powerscale
            dell/csm-metrics-powerstore
            dell/csm-operator
            dell/csm-replication
            dell/karavi-metrics-powerflex
            dell/karavi-resiliency
          ]

    steps:
      - name: Trigger Image Version Update
        uses: peter-evans/repository-dispatch@v4
        with:
          # For token information, see: https://github.com/peter-evans/repository-dispatch/tree/main?tab=readme-ov-file#token
          token: ${{ secrets.CSMBOT_PAT }}
          repository: ${{ matrix.repo }}
          event-type: image-update-workflow
          client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'
