# Copyright (c) 2025 Dell Inc., or its subsidiaries. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0

# Trigger workflow for auto-release of CSM projects
name: Trigger Release of Dell Libraries

on:
  workflow_dispatch:

jobs:
  release_independent_repos:
    name: Release Independent Go Libraries
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repo:
          [
            "dell/goiscsi",
            "dell/gonvme",
            "dell/gocsi",
            "dell/gofsutil",
            "dell/gopowerstore",
            "dell/gopowerscale",
            "dell/gopowermax",
            "dell/gounity",
            "dell/goscaleio",
          ]
    steps:
      - name: Trigger Release of ${{ matrix.repo }}
        id: release
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.CSMBOT_PAT }}
          repository: ${{ matrix.repo }}
          event-type: release-go-libs
          client-payload: |
            {
              "ref": "${{ github.ref }}",
              "sha": "${{ github.sha }}"
            }
      - name: Check status of triggered workflows for release of ${{ matrix.repo }}
        run: |
          curl -sfL https://raw.githubusercontent.com/dell/common-github-actions/main/.github/scripts/check_workflow_status.sh -o check_workflow_status.sh
          chmod +x check_workflow_status.sh
          bash check_workflow_status.sh ${{ secrets.CSMBOT_PAT }} ${{ matrix.repo }} "repository_dispatch"
        shell: bash

  release_dependent_repo:
    name: Release Dependent Go Libraries
    runs-on: ubuntu-latest
    needs: release_independent_repos
    strategy:
      matrix:
        repo: ["dell/gobrick"]
    steps:
      - name: Trigger Release of ${{ matrix.repo }}
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.CSMBOT_PAT }}
          repository: ${{ matrix.repo }}
          event-type: release-go-libs
          client-payload: |
            {
              "ref": "${{ github.ref }}",
              "sha": "${{ github.sha }}"
            }
      - name: Check status of triggered workflows for release of ${{ matrix.repo }}
        run: |
          curl -sfL https://raw.githubusercontent.com/dell/common-github-actions/main/.github/scripts/check_workflow_status.sh -o check_workflow_status.sh
          chmod +x check_workflow_status.sh
          bash check_workflow_status.sh ${{ secrets.CSMBOT_PAT }} ${{ matrix.repo }} "repository_dispatch"
        shell: bash
