# Copyright (c) 2025 Dell Inc., or its subsidiaries. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0

# Reusable workflow to update Dell packages to the latest commits on CSM based projects
name: Update Dell Packages to Latest Commits

on:
  workflow_call:

jobs:
  update-dependencies:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: "1.25"

    - name: Clean Go module cache
      run: |
        go clean -modcache

    - name: Grab list of Dell libraries
      run: |
        export LIST="https://raw.githubusercontent.com/dell/common-github-actions/main/.github/configs/dell-libraries-list.txt"
        curl -O -f $LIST

    - name: Get latest commit SHAs
      run: |
        SHAS=""
        while IFS= read -r REPO
        do
          LATEST_SHA=$(git ls-remote https://$REPO HEAD | awk '{print $1}')
          SHAS+="$REPO@$LATEST_SHA\n"
        done < dell-libraries-list.txt

        echo "SHAS<<EOF" >> $GITHUB_ENV
        echo -e "$SHAS" >> $GITHUB_ENV
        echo "EOF" >> $GITHUB_ENV
        echo "Latest SHAs: $SHAS"

    - name: Update packages in go.mod
      run: |
        # temporarily disable the scripts exit on error
        set +e

        echo "${{ env.SHAS }}" | while IFS= read -r line; do
          REPO=$(echo $line | cut -d'@' -f1)
          SHA=$(echo $line | cut -d'@' -f2)

          echo "Processing $REPO@$SHA"

          if [[ $REPO == "github.com/dell/dell-csi-extensions" ]]; then
            SUBPACKAGES=("common" "migration" "podmon" "replication" "volumeGroupSnapshot")
            for SUBPACKAGE in "${SUBPACKAGES[@]}"; do
              if grep -q "$REPO/$SUBPACKAGE" go.mod; then
                echo "Updating $REPO/$SUBPACKAGE@$SHA"
                go get ${REPO}/${SUBPACKAGE}@${SHA} || echo "Failed to update $REPO/$SUBPACKAGE@$SHA"
              else
                echo "Skipping $REPO/$SUBPACKAGE: not a known dependency"
              fi
            done
            continue
          fi

          MODULE_PATH=$(go list -m -f '{{.Path}}' all | grep "^$REPO" 2>/dev/null)
          if [[ $? -ne 0 ]]; then
            echo "Skipping $REPO: not a known dependency"
            continue
          fi

          if [[ $MODULE_PATH == *"/v2"* ]]; then
            echo "Updating ${REPO}/v2@$SHA"
            go get ${REPO}/v2@${SHA} || echo "Failed to update ${REPO}/v2@$SHA"
          else
            echo "Updating ${REPO}@$SHA"
            go get ${REPO}@${SHA} || echo "Failed to update ${REPO}@$SHA"
          fi
        done
        go mod tidy

    # Delete file so it doesn't get included in the PR
    - name: Delete dell-libraries-list.txt
      run: |
        rm dell-libraries-list.txt

    # Needed for signing commits using Github App tokens
    # See: https://github.com/peter-evans/create-pull-request/blob/main/docs/concepts-guidelines.md#commit-signing
    - uses: actions/create-github-app-token@v2.1.4
      id: generate-token
      with:
        app-id: ${{ vars.CSM_RELEASE_APP_ID }}
        private-key: ${{ secrets.CSM_RELEASE_APP_PRIVATE_KEY }}

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v7
      with:
        token: ${{ steps.generate-token.outputs.token }}
        branch: "update-dependencies-to-latest-commits"
        commit-message: "Update packages to latest commits"
        title: "Update Dell libraries to latest commits"
        body: |
          This PR updates the specified packages to their latest commit.
          Auto-generated by [common-github-actions](https://github.com/dell/common-github-actions)
        sign-commits: true
        delete-branch: true
